html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    a{
        text-decoration: none;
        font-size: 12px;
    }
}

h1, span, a {
    color: white;
}

body{
    background-color: #4a4a4a;
}

.main-nav{
    position:fixed;
    display: flex;
    justify-content: space-between;
    top: 25px;
    left: 50px;
    right: 50px;
    z-index: 1;
    a{
        padding: 25px;
    }
    .name{
        text-transform: uppercase;
        font-weight: bold;
    }
}
.title{
position: fixed;
transform: translate(45%,100%);
display: flex;
justify-content: space-around;
    h1{
        font-size:100px;
        margin-bottom: 40px;
        line-height:75px;
    }
    .explore{
        position: relative;
        left: 650px;
        top: 200px;
    }
}

.second-nav{
position: fixed;
bottom: 50px;
left: 50px;
    a{
        padding: 25px;
    }
}

.projects{
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
    z-index: 0;
    height: 100vh;
    p{
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
    }
    h2{
        font-size: 25px;
        margin-bottom: 10px;
    }
}  
.one{
    background:url(../img/annabelle.jpg)center/cover;
    width: 25%;
    height: 100%;
} 
.two{
    background:url(../img/decathlon.png)center/cover;
    width: 25%;
    height: 100%;
} 
.three{
    background:url(../img/eventoxtra-header.jpg)center/cover;
    width: 25%;
} 
.four{
    background:url(../img/flako.jpg)center/cover;
    width: 25%;
}

